@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background: #eca012;
    border: solid 1px rgb(17, 14, 14);
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}


.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(14, 6, 6, 0.1);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-between;
    background: rgb(231, 247, 14);
    border: solid 1px rgb(243, 34, 6);
}

.header .logo{
    font-size: 2.5rem;
    color: #000;
}

.pincode .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}
 
.pincode .row .image{
    flex:1 1 45rem;
}

.pincode .row .image img{
    width: 70%;
}

.pincode .row form{
    flex:1 1 45rem;
    background-image: linear-gradient( to right, rgb(236, 156, 6),rgba(255, 255, 255, 0.781),green);
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 4rem;
    border: solid 1px rgb(17, 14, 14);
    border-radius: 10rem;
}

p {
    padding-bottom: 1rem;
    font-size: 2rem;
}

.pincode .row form h3{
    color:rgb(8, 32, 252);
    padding-bottom: 3rem;
    font-size: 3rem;
}

select {
    width: 50%;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:red;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:rgb(46, 30, 9);
    padding: 1rem 0;
}


.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--light-color);
    border-top: 1rem solid rgba(0, 0, 0, .1);
}


